@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@500&display=swap');

#menu a, button{
  font-size: 18px !important;
  font-weight: 600;
 
}

#menu a{
  color:#3f3f3f;
  
}



.productos{
  color: black;
  font-weight: bold;
  /* margin-left: 100PX; */
  padding: 0px 100px 0px
}

footer {
  background: #198754;
  min-height: 100px;
  margin-top: 10px black;
}

footer p {
  color: #f3f3f3;
  text-align: center;
}

#iconos i {
  font-size: 25px;
  padding: 0 8px;
  color: #f3f3f3;
}

.shoes-details {
  height: 300px;
}
